{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block sonata_admin_content %}
    <div class="sonata-ba-form">
        {{ form_start(profileForm) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h4 class="box-title">Perfil d'usuari</h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(profileForm.firstname) }}
                                        {{ form_row(profileForm.lastname) }}
                                        {{ form_row(profileForm.defaultEnterprise) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <div class="box-title">Image</div>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% if app.user.mainImage %}
                                            <img  class="img-responsive" src="{{ vich_uploader_asset(app.user, 'mainImageFile') | imagine_filter('342x342') }}" alt="profile">
                                        {% endif %}
                                        {{ form_row(profileForm.mainImageFile) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <div class="box-title">Controls</div>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(profileForm.username) }}
                                        {{ form_row(profileForm.email) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sonata-ba-form-actions well well-small form-actions">
                {{ form_widget(profileForm.send) }}
                {{ form_rest(profileForm) }}
            </div>
        {{ form_end(profileForm) }}
    </div>
{% endblock %}
