{% extends 'admin/edit.html.twig' %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
             // Handler for .ready() called.
            var partnerNode = jQuery('#sonata-ba-field-container-{{ form.partner.vars.id }}');
            var cifNif = jQuery('#{{ form.cifNif.vars.id }}');
            var invoice = jQuery('#{{ form.saleInvoice.vars.id }}');
            var partner = jQuery('#{{ form.partner.vars.id }}');
            var cifNifIcon = jQuery('#cif-nif-icon');
            var totalCountedHours = 0;
            {% if  admin.id(admin.subject) %}
              {% if form.saleInvoice.vars.data %}
            console.log(invoice);
                  jQuery(`
                      <a href="{{ path('admin_app_sale_saleinvoice_edit', { 'id': form.saleInvoice.vars.data.id }) }}">
                          Ir a factura
                      </a>
                  `).insertAfter(invoice);
              {% endif %}
                {% if form.partner.vars.data %}
            console.log(partner);
                jQuery(`
                          <a href="{{ path('admin_app_partner_client_edit', { 'id': form.partner.vars.data.id }) }}">
                              Ir a cliente
                          </a>
                      `).insertAfter(partnerNode);
                {% endif %}


            var deliveryNoteLinesTable = jQuery('#sonata-ba-field-container-{{ form.saleDeliveryNoteLines.vars.id }}');
                var numberOfDeliveryNoteLines = {{ form.saleDeliveryNoteLines.vars.data.count }};
                for (let i = 0; i < numberOfDeliveryNoteLines; i++) {
                    jQuery('#{{ form.saleDeliveryNoteLines.vars.id }}_' + i + '_saleItem').change(function(event) {
                            var saleItemId = parseInt(jQuery(event.target).val());
                            updatePriceAndQuantityDeliveryNoteLine(i, saleItemId);
                    }
                    );
                }

                function updatePriceAndQuantityDeliveryNoteLine(lineId, saleItemId) {
                    if (saleItemId < 4) {
                        var hourPrice = {{ admin.subject.hourPrice }} + 0;
                        var minimumHours = {{ admin.subject.miniumHours }} + 0;
                        var displacement = {{ admin.subject.displacement }} + 0;
                        var minimumHolidayHours = {{ admin.subject.miniumHolidayHours }} + 0;
                        var increaseForHolidays = {{ admin.subject.increaseForHolidays }} + 0;
                        var increaseForHolidaysPercentage = {{ admin.subject.increaseForHolidaysPercentage }} + 0;
                        var units = 0;
                        if (saleItemId === 1) {
                          units = Math.max(minimumHours, totalCountedHours);
                        } else if (saleItemId === 2) {
                            if (increaseForHolidaysPercentage) {
                                hourPrice = hourPrice*(1 + increaseForHolidaysPercentage);
                            }
                            if (increaseForHolidays) {
                                hourPrice = hourPrice + increaseForHolidays;
                            }
                            units = Math.max(minimumHolidayHours, totalCountedHours);
                            jQuery('#{{ form.saleDeliveryNoteLines.vars.id }}_' + lineId + '_units').val(minimumHolidayHours);
                        } else if (saleItemId === 3) {
                            units = displacement;
                        }
                        jQuery('#{{ form.saleDeliveryNoteLines.vars.id }}_' + lineId + '_units').val(units);
                        jQuery('#{{ form.saleDeliveryNoteLines.vars.id }}_' + lineId + '_priceUnit').val(hourPrice);
                    } else {
                        jQuery('#{{ form.saleDeliveryNoteLines.vars.id }}_' + lineId + '_priceUnit').val(0);
                        jQuery('#{{ form.saleDeliveryNoteLines.vars.id }}_' + lineId + '_units').val(0);
                    }
                }

                deliveryNoteLinesTable.on('sonata.add_element', function (event) {
                numberOfDeliveryNoteLines++;
                var i = numberOfDeliveryNoteLines - 1;
                jQuery('#{{ form.saleDeliveryNoteLines.vars.id }}_' + i + '_saleItem').change(function(event) {
                    var saleItemId = parseInt(jQuery(event.target).val());
                    updatePriceAndQuantityDeliveryNoteLine(i, saleItemId);
                  }
                );
                })

                var workRegistersTable = jQuery('#sonata-ba-field-container-{{ form.operatorWorkRegisters.vars.id }}');
                var numberOfWorkRegisters = {{ form.operatorWorkRegisters.vars.data.count }};
                var totalUnits = 0;
                var totalAmount = 0;
                for (var i = 0; i < numberOfWorkRegisters; i++) {
                  totalUnits += jQuery('#{{ form.operatorWorkRegisters.vars.id }}_' + i + '_units').val().replace(',','.')*1;
                  totalAmount += jQuery('#{{ form.operatorWorkRegisters.vars.id }}_' + i + '_amount').val()*1;
                }
                if (numberOfWorkRegisters) {
                  totalCountedHours = totalUnits;
                  $info = `
                    <div>
                        <div class="pull-right" style="margin-right: 10px;">
                            <label for="totalUnits" class="control-label">Total: </label>
                            <label class="control-label"> ${totalAmount} €</label>
                        </div>
                    </div>
                    <div>
                        <div class="pull-right" style="margin-right: 10px;">
                            <label for="totalUnits" class="control-label">Total unidades: </label>
                            <label class="control-label"> ${totalUnits} </label>
                        </div>
                    </div>
                  `;
                } else {
                  $info = `
                    <div>
                        <div class="pull-left" style="margin-right: 10px;">
                            <label class="control-label">
                              No se han registrado partes de trabajo.
                              <a href="{{ path('admin_app_operator_operatorworkregisterheader_create') }}">
                                Registrar partes de trabajo
                                </a>
                            </label>
                        </div>
                    </div>
                  `
                }
              jQuery($info).insertAfter(workRegistersTable);
            {% endif %}

             //on change
            partnerNode.change(function(event) {
                cifNifIcon.removeClass('hidden');
                var partnerId = jQuery(event.target).val();
                console.log('PartnerID', partnerId);
              if (partnerId) {
                //on change Partner
                jQuery.get(Routing.generate('admin_app_partner_partner_getJsonPartnerById', {id: partnerId}), function () {
                }).done(function (response) {
                  updateNodesInfo(response);
                });
              }

            });

            //on load Partner
            {% if form.partner.vars.data is not null %}
                jQuery.get(Routing.generate('admin_app_partner_partner_getJsonPartnerById', { id: {{ form.partner.vars.data.id }} }), function() {
                }).done(function(response) {
                     updateNodesInfo(response);
                });
            {% endif %}

            function updateNodesInfo(response) {
                var partner = jQuery.parseJSON(response);
                cifNifIcon.addClass('hidden');
                cifNif.val(partner.cifNif);
            }

        });
    </script>
{% endblock %}

{% block sonata_form_actions %}
    {% if form.saleInvoice.vars.data %}
        {% if form.saleInvoice.vars.data.hasBeenCounted %}
            <b>No se puede modificar un albarán facturado con factura contabilizada.</b>
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
