{% extends sonata_block.templates.block_base %}

{% trans_default_domain "admin" %}

{% block block %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Crear partes de trabajo
                    </h4>
                </div>
                <form action="{{ path('admin_app_operator_operatorworkregister_createCustomWorkRegister') }}">
                    <div class="box-body">
                        <div class="form-group" id="sonata-ba-field-container-custom_date">
                            <label class="control-label required" for="custom_date">
                                Fecha
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <div class="input-group">
                                    <div class="input-group date" id="dp_custom_date">
                                        <input type="text"
                                               id="custom_date"
                                               name="custom_date"
                                               required="required"
                                               class="sonata-medium-date form-control"
                                               data-date-format="DD-MM-YYYY"
                                               {% if content.selectedDate %}
                                                value="{{ content.selectedDate }}">
                                               {% else %}
                                                value="{{ "now"|date("d-m-Y") }}">
                                               {% endif %}
                                        <span class="input-group-addon">
                                            <span class="fa-calendar fa"></span>
                                        </span>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                  jQuery(function ($) {
                                    $('#dp_custom_date').datetimepicker({
                                      "pickTime": false,
                                      "pickDate": true,
                                      "useCurrent": true,
                                      "minDate": "1\/1\/1900",
                                      "maxDate": null,
                                      "showToday": true,
                                      "language": "es",
                                      "defaultDate": "",
                                      "disabledDates": [],
                                      "enabledDates": [],
                                      "icons": {
                                        "time": "fa fa-clock-o",
                                        "date": "fa fa-calendar",
                                        "up": "fa fa-chevron-up",
                                        "down": "fa fa-chevron-down"
                                      },
                                      "useStrict": false,
                                      "sideBySide": false,
                                      "daysOfWeekDisabled": [],
                                      "collapse": true,
                                      "calendarWeeks": false,
                                      "viewMode": "days",
                                      "minViewMode": "days",
                                      "useSeconds": false
                                    });
                                  });
                                </script>
                                <span class="help-block sonata-ba-field-widget-help sonata-ba-field-help"></span>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-custom_operator">
                            <label class="control-label required" for="custom_operator">
                                Operario
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="custom_operator" id="custom_operator">
                                    <option value="">---selecione un operario---</option>
                                    {% for operator in content.operators %}
                                        <option value="{{ operator.id }}"
                                        {% if operator.id == content.selectedOperator %}
                                                selected
                                        {% endif %}
                                        >{{ operator }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-custom_sale_delivery_note">
                            <label class="control-label" for="custom_sale_delivery_note">
                                Albarán
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="custom_sale_delivery_note" id="custom_sale_delivery_note">
                                    <option value="">---selecione un albarán---</option>
                                    {% for deliveryNote in content.saleDeliveryNotes %}
                                        <option value="{{ deliveryNote.id }}">{{ deliveryNote.id }} - {{ deliveryNote.partner.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-select_input_type">
                            <label class="control-label required" for="s60fa7bcba2582_operator">
                                Tipo
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" id="select_input_type" name="select_input_type">
                                    <option value="hour">Horas</option>
                                    <option value="unit">Items</option>
                                    <option value="other">Otros</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-custom_start">
                            <label class="control-label required" for="custom_start">
                                Empieza
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <input type="time" id="custom_start" name="custom_start" class=" form-control">
                                <span class="help-block sonata-ba-field-widget-help sonata-ba-field-help"></span>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-custom_finish">
                            <label class="control-label required" for="custom_finish">
                                Termina
                            </label>
                            <label class="warning hidden" style="color: red" id="label_warning_finish_before_start">
                                Debe ser posterior al momento de inicio
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <input type="time" id="custom_finish" name="custom_finish" class=" form-control">
                                <span class="help-block sonata-ba-field-widget-help sonata-ba-field-help"></span>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-description">
                            <label class="control-label" for="description">
                                Descripción
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="custom_description">
                                    <option value="">---seleccione una descripción---</option>
                                    {% for id,description in content.timeDescriptions %}
                                        <option value="{{ id }}">{{ description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-hour-type">
                            <label class="control-label" for="description">
                                Tipo de hora
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="custom_hour_type">
                                    <option value="Según horario" selected="selected">Según horario</option>
                                    {% for timeRangeType in content.time_range_types %}
                                        <option value="{{ timeRangeType }}">{{ timeRangeType }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-item">
                            <label class="control-label required" for="item">
                                Item
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="custom_item" id="custom_item">
                                    <option value="">---selecione un item---</option>
                                    {% for id,item in content.items %}
                                        <option value="{{ id }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-text-description">
                            <label class="control-label required" for="s6148507556dff_description">
                                Descripción
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <input type="text" id="custom_text_description" name="custom_text_description" class=" form-control">
                                <span class="help-block sonata-ba-field-widget-help sonata-ba-field-help"></span>
                            </div>
                        </div>
                        <div class="form-group" id="sonata-ba-field-container-amount">
                            <label class="control-label required" for="amount">
                                Total (€)
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <input type="number" step=".01" id="amount" name="amount" class=" form-control">
                                <span class="help-block sonata-ba-field-widget-help sonata-ba-field-help"></span>
                            </div>
                        </div>

                        <button class="btn btn-success" type="submit" id="btn_custom_submit" name="btn_custom_submit"><i class="fa fa-save" aria-hidden="true"></i> Crear</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Total
                    </h4>
                    <table class="table table-bordered table-hover sonata-ba-list">
                        <tr>
                            <td>Horas laborales</td>
                            <td id="workingHoursTotal">0</td>
                        </tr>
                        <tr>
                            <td>Horas normales</td>
                            <td id="normalHoursTotal">0</td>
                        </tr>
                        <tr>
                            <td>Horas extras</td>
                            <td id="extraHoursTotal">0</td>
                        </tr>
                        <tr>
                            <td>Horas negativas</td>
                            <td id="negativeHoursTotal">0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Items y otros
                    </h4>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped table-hover sonata-ba-list">
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th class="sonata-ba-list-field-header">
                                    Observaciones
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Unidades
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Precio (€)/unidad
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Total (€)
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Albarán
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Acción
                                </th>
                            </tr>
                            </thead>
                            <tbody id="custom_table_2">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Horas
                    </h4>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped table-hover sonata-ba-list">
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th class="sonata-ba-list-field-header-time">
                                    Empieza
                                </th>
                                <th class="sonata-ba-list-field-header-time">
                                    Termina
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Observaciones
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Unidades
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Precio (€)/unidad
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Total (€)
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Albarán
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Vehículo
                                </th>
                                <th class="sonata-ba-list-field-header">
                                    Acción
                                </th>
                            </tr>
                            </thead>
                            <tbody id="custom_table">
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      jQuery(document).ready(function() {
        var customTable = jQuery('#custom_table');
        var customTable2 = jQuery('#custom_table_2');

        var selectInputType = jQuery('#select_input_type');
        var selectOperator = jQuery('#custom_operator');
        var selectItem = jQuery('#custom_item');
        var selectDate = jQuery('#custom_date');
        var eventSelectDate = jQuery('#dp_custom_date');
        var customTextDescriptionInput = jQuery('#custom_text_description');
        var amountInput = jQuery('#amount');

        var customStart = jQuery('#sonata-ba-field-container-custom_start');
        var customStartInput = jQuery('#custom_start');
        var customFinish = jQuery('#sonata-ba-field-container-custom_finish');
        var customFinishInput = jQuery('#custom_finish');
        var customDescription = jQuery('#sonata-ba-field-container-description');
        var customHourType = jQuery('#sonata-ba-field-container-hour-type');
        var customTextDescription = jQuery('#sonata-ba-field-container-text-description');
        var amount = jQuery('#sonata-ba-field-container-amount');
        var item = jQuery('#sonata-ba-field-container-item');
        var labelCheckFinishIsBeforeStart = jQuery('#label_warning_finish_before_start');
        var workingHoursTotal = jQuery('#workingHoursTotal');
        var normalHoursTotal = jQuery('#normalHoursTotal');
        var extraHoursTotal = jQuery('#extraHoursTotal');
        var negativeHoursTotal = jQuery('#negativeHoursTotal');

        var submitButton = jQuery('#btn_custom_submit');

        item.addClass('hidden');
        customTextDescription.addClass('hidden');
        amount.addClass('hidden');
        submitButton.addClass('disabled').attr('disabled', 'disabled');

        updateOperatorWorkRegistersTable();
        enableDisableSubmitButton();
        startIsBeforeFinish();

        customStart.change(function (event) {
          startIsBeforeFinish();
        });
        customFinish.change(function (event) {
          startIsBeforeFinish();
        })

        function startIsBeforeFinish() {
          if (checkIfStartIsBeforeFinish()) {
            labelCheckFinishIsBeforeStart.addClass('hidden');
          } else {
            labelCheckFinishIsBeforeStart.removeClass('hidden');
          }
          enableDisableSubmitButton();
        }

        selectInputType.change(function (event) {
          const type = jQuery(event.target).val();
          if (type === "unit") {
            customStart.addClass('hidden');
            customFinish.addClass('hidden');
            customDescription.addClass('hidden');
            customTextDescription.addClass('hidden');
            customHourType.addClass('hidden');
            amount.addClass('hidden');
            item.removeClass('hidden');
          } else if (type === "hour") {
            customStart.removeClass('hidden');
            customFinish.removeClass('hidden');
            customDescription.removeClass('hidden');
            customTextDescription.addClass('hidden');
            customHourType.removeClass('hidden');
            amount.addClass('hidden');
            item.addClass('hidden');
          } else if (type === "other") {
            customStart.addClass('hidden');
            customFinish.addClass('hidden');
            customDescription.addClass('hidden');
            item.addClass('hidden');
            customTextDescription.removeClass('hidden');
            amount.removeClass('hidden');
            customHourType.addClass('hidden');
          }
          enableDisableSubmitButton();
        });

        selectOperator.change(function (event) {
          enableDisableSubmitButton();
          updateOperatorWorkRegistersTable();
        });

        eventSelectDate.change(function (event) {
          updateOperatorWorkRegistersTable();
        });

        selectItem.change(function (event) {
          enableDisableSubmitButton();
        });

        customTextDescriptionInput.keyup(function (event) {
          enableDisableSubmitButton();
        });

        amountInput.keyup(function (event) {
          enableDisableSubmitButton();
        });

        function enableDisableSubmitButton() {
          if (requiredFieldsAreFilled()) {
            submitButton.removeClass('disabled').removeAttr('disabled', 'disabled');
          } else {
            submitButton.addClass('disabled').attr('disabled', 'disabled');
          }
        }

        function requiredFieldsAreFilled() {
          if (selectOperator.val() === '') {

            return false;
          }
          if (selectInputType.val() === 'unit') {
            if (selectItem.val() === '') {

              return false;
            }
          } else if(selectInputType.val() === 'other') {
            var amountTrans = amountInput.val().replace(',','.');
            if (customTextDescriptionInput.val() === '') {

              return false;
            } else if (isNaN(amountTrans) || (amountTrans === '')) {

              return false;
            }
          } else {

            return checkIfStartIsBeforeFinish();
          }

          return true;
        }

        function updateOperatorWorkRegistersTable()
        {
          var operatorId = selectOperator.val();
          var date = selectDate.val();
            if (operatorId && date) {
            jQuery.get(Routing.generate(
              'admin_app_operator_operatorworkregister_getJsonOperatorWorkRegistersByDataAndOperatorId',
              {
                operatorId: operatorId,
                date: date
              }
            ), function () {
            }).done(function (response) {
              customTable.empty();
              customTable2.empty();
              JSON.parse(response).forEach((element) => {
                var row = document.createElement('tr');
                if (element.start) {
                  createCellFromInfoAndAppendToRow(element.start?.substring(11, 16) || '-', row);
                  createCellFromInfoAndAppendToRow(element.finish?.substring(11, 16) || '-', row);
                }
                createCellFromInfoAndAppendToRow(element.description, row);
                createCellFromInfoAndAppendToRow(element.units, row);
                createCellFromInfoAndAppendToRow(element.priceUnit.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}), row);
                createCellFromInfoAndAppendToRow(element.amount.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}), row);
                createCellFromInfoEditableAndAppendToRow(element.saleDeliveryNote?.id || '-', row, element.id);
                if (element.start) {
                    createCellFromInfoAndAppendToRow(element.saleDeliveryNote?.vehicle?.name || '-', row);
                }
                var deleteEditButton = `
                    <div class="btn-group">
                       <a href="{{ path('admin_app_operator_operatorworkregister_edit', {'id': 'idOfElement'}) }}" class="btn btn-sm btn-default edit_link" title="Editar"><i class="fa fa-pencil"></i></a>
                       <a href="{{ path('admin_app_operator_operatorworkregister_customDelete', {'id': 'idOfElement'}) }}" class="btn btn-sm btn-default edit_link" title="Borrar"><i class="fa fa-trash"></i></a>
                    </div>
                `
                ;
                deleteEditButton = deleteEditButton.replace('idOfElement', element.id).replace('idOfElement', element.id);
                var cell = document.createElement('td');
                cell.classList.add('sonata-ba-list-field');
                cell.innerHTML = deleteEditButton;
                row.appendChild(cell);
                if (element.start) {
                  customTable.append(row);
                } else {
                  customTable2.append(row);
                }
              });
            });

            jQuery.get(Routing.generate(
              'admin_app_operator_operatorworkregisterheader_getJsonOperatorWorkRegisterTotalsByHourType',
              {
                operatorId: operatorId,
                date: date
              }
            ), function () {
            }).done(function (response) {
              workingHoursTotal.text(response.workingHour);
              normalHoursTotal.text(response.normalHour);
              extraHoursTotal.text(response.extraHour);
              negativeHoursTotal.text(response.negativeHour);
            });
          } else {
            customTable.empty();
            customTable2.empty();
          }
        }

        function createCellFromInfoAndAppendToRow(info, row)
        {
          let cell = document.createElement('td');
          cell.classList.add('sonata-ba-list-field');
          cell.append(info);
          row.appendChild(cell);
        }

        function createCellFromInfoEditableAndAppendToRow(info, row, elementId)
        {
          let cell = document.createElement('td');
          cell.classList.add('sonata-ba-list-field');
          let form = document.createElement('form');
          form.setAttribute('method', 'POST')
          form.setAttribute('action', '{{ path('admin_app_operator_operatorworkregister_customChangeDeliveryNote') }}')
          form.setAttribute('class', 'form-inline')
          let input = document.createElement('input');
          input.setAttribute('value', info)
          input.setAttribute('name', 'delivery_note_id')
          input.setAttribute('class', 'form-control')
          input.setAttribute('style', 'width:100px')
          let inputOperatorWorkRegister = document.createElement('input');
          inputOperatorWorkRegister.setAttribute('value', elementId)
          inputOperatorWorkRegister.setAttribute('name', 'operator_work_register_id')
          inputOperatorWorkRegister.setAttribute('class', 'hidden')
          let submitButton = document.createElement('button')
          submitButton.setAttribute('type', 'submit')
          submitButton.setAttribute('class', 'btn btn-sm btn-primary editable-submit')
          let icon = document.createElement('i');
          icon.setAttribute('class', 'glyphicon glyphicon-ok')
          submitButton.append(icon);
          form.append(input, submitButton)
          form.append(inputOperatorWorkRegister)
          cell.append(form);
          row.appendChild(cell);
        }

        function checkIfStartIsBeforeFinish()
        {
          const start = customStartInput.val();
          const finish = customFinishInput.val();
          var startIsBeforeFinish = false;
          if (finish > start) {
            startIsBeforeFinish = true;
          }

          return startIsBeforeFinish;
        }
      });
    </script>

{% endblock %}
