{% extends sonata_block.templates.block_base %}

{% trans_default_domain "admin" %}

{% block block %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <div class="col-md-3">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">
                    Crear partes de trabajo
                </h4>
            </div>
            <form action="{{ path('admin_app_operator_operatorworkregister_createCustomWorkRegister') }}">
                <div class="box-body">
                    <div class="form-group" id="sonata-ba-field-container-custom_date">
                        <label class="control-label required" for="custom_date">
                            Data
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural">
                            <div class="input-group">
                                <div class="input-group date" id="dp_custom_date">
                                    <input type="text"
                                           id="custom_date"
                                           name="custom_date"
                                           required="required"
                                           class="sonata-medium-date form-control"
                                           data-date-format="DD-MM-YYYY"
                                           {% if content.selectedDate %}
                                            value="{{ content.selectedDate }}">
                                           {% else %}
                                            value="{{ "now"|date("d-m-Y") }}">
                                           {% endif %}
                                    <span class="input-group-addon">
                                        <span class="fa-calendar fa"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                              jQuery(function ($) {
                                $('#dp_custom_date').datetimepicker({
                                  "pickTime": false,
                                  "pickDate": true,
                                  "useCurrent": true,
                                  "minDate": "1\/1\/1900",
                                  "maxDate": null,
                                  "showToday": true,
                                  "language": "es",
                                  "defaultDate": "",
                                  "disabledDates": [],
                                  "enabledDates": [],
                                  "icons": {
                                    "time": "fa fa-clock-o",
                                    "date": "fa fa-calendar",
                                    "up": "fa fa-chevron-up",
                                    "down": "fa fa-chevron-down"
                                  },
                                  "useStrict": false,
                                  "sideBySide": false,
                                  "daysOfWeekDisabled": [],
                                  "collapse": true,
                                  "calendarWeeks": false,
                                  "viewMode": "days",
                                  "minViewMode": "days",
                                  "useSeconds": false
                                });
                              });
                            </script>
                            <span class="help-block sonata-ba-field-widget-help sonata-ba-field-help"></span>
                        </div>
                    </div>
                    <div class="form-group" id="sonata-ba-field-container-custom_operator">
                        <label class="control-label required" for="custom_operator">
                            Operario
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                            <select class="select2-container" style="width: 100%;" name="custom_operator" id="custom_operator">
                                <option value="">---selecione un operario---</option>
                                {% for operator in content.operators %}
                                    <option value="{{ operator.id }}"
                                    {% if operator.id == content.selectedOperator %}
                                            selected
                                    {% endif %}
                                    >{{ operator }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="sonata-ba-field-container-custom_sale_delivery_note">
                        <label class="control-label" for="custom_sale_delivery_note">
                            Albaràn
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                            <select class="select2-container" style="width: 100%;" name="custom_sale_delivery_note" id="custom_sale_delivery_note">
                                <option value="">---selecione un albaràn---</option>
                                {% for deliveryNote in content.saleDeliveryNotes %}
                                <option value="{{ deliveryNote.id }}">{{ deliveryNote }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="sonata-ba-field-container-select_input_type">
                        <label class="control-label required" for="s60fa7bcba2582_operator">
                            Tipo
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                            <select class="select2-container" style="width: 100%;" id="select_input_type" name="select_input_type">
                                <option value="hour">Horas</option>
                                <option value="unit">Items</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="sonata-ba-field-container-custom_start">
                        <label class="control-label required" for="custom_start">
                            Empieza
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <select class="select2-container" style="width: 100%;" name="custom_start[hour]" id="custom_start_hour">
                                        {% for time_picker_hour in content.time_picker_hours %}
                                            <option value="{{ time_picker_hour }}">{{ time_picker_hour }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="select2-container" style="width: 100%;" name="custom_start[minute]" id="custom_start_minute">
                                        {% for time_picker_minute in content.time_picker_minutes %}
                                            <option value="{{ time_picker_minute }}">{{ time_picker_minute }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="sonata-ba-field-container-custom_finish">
                        <label class="control-label required" for="custom_finish">
                            Termina
                        </label>
                        <label class="warning hidden" style="color: red" id="label_warning_finish_before_start">
                            Debe ser más tarde que el tiempo de inicio
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <select class="select2-container" style="width: 100%;" name="custom_finish[hour]" id="custom_finish_hour">
                                        {% for time_picker_hour in content.time_picker_hours %}
                                            <option value="{{ time_picker_hour }}">{{ time_picker_hour }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="select2-container" style="width: 100%;" name="custom_finish[minute]" id="custom_finish_minute">
                                        {% for time_picker_minute in content.time_picker_minutes %}
                                            <option value="{{ time_picker_minute }}">{{ time_picker_minute }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="sonata-ba-field-container-description">
                        <label class="control-label" for="description">
                            Descripción
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                            <select class="select2-container" style="width: 100%;" name="custom_description">
                                <option value="">---seleccione una descripción---</option>
                                {% for id,description in content.timeDescriptions %}
                                    <option value="{{ id }}">{{ description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="sonata-ba-field-container-item">
                        <label class="control-label required" for="item">
                            Item
                        </label>
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                            <select class="select2-container" style="width: 100%;" name="custom_item" id="custom_item">
                                <option value="">---selecione un item---</option>
                                {% for id,item in content.items %}
                                    <option value="{{ id }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-success" type="submit" id="btn_custom_submit" name="btn_custom_submit"><i class="fa fa-save" aria-hidden="true"></i> Crear</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">
                    Partes de trabajo
                </h4>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped table-hover sonata-ba-list">
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th class="sonata-ba-list-field-header">
                                Albarán
                            </th>
                            <th class="sonata-ba-list-field-header-time">
                                Empieza
                            </th>
                            <th class="sonata-ba-list-field-header-time">
                                Termina
                            </th>
                            <th class="sonata-ba-list-field-header">
                                Unidades
                            </th>
                            <th class="sonata-ba-list-field-header">
                                Precio/unidad
                            </th>
                            <th class="sonata-ba-list-field-header">
                                Total
                            </th>
                            <th class="sonata-ba-list-field-header">
                                Observaciones
                            </th>
                        </tr>
                        </thead>
                        <tbody id="custom_table">
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      jQuery(document).ready(function() {
        var customTable = jQuery('#custom_table');

        var selectInputType = jQuery('#select_input_type');
        var selectOperator = jQuery('#custom_operator');
        var selectItem = jQuery('#custom_item');
        var selectDate = jQuery('#custom_date');
        var eventSelectDate = jQuery('#dp_custom_date');

        var operator = jQuery('#sonata-ba-field-container-custom_operator');
        var customStart = jQuery('#sonata-ba-field-container-custom_start');
        var selectStartHour = jQuery('#custom_start_hour');
        var selectStartMinute = jQuery('#custom_start_minute');
        var customFinish = jQuery('#sonata-ba-field-container-custom_finish');
        var selectFinishHour = jQuery('#custom_finish_hour');
        var selectFinishMinute = jQuery('#custom_finish_minute');
        var customDescription = jQuery('#sonata-ba-field-container-description');
        var item = jQuery('#sonata-ba-field-container-item');
        var labelCheckFinishIsBeforeStart = jQuery('#label_warning_finish_before_start');

        var submitButton = jQuery('#btn_custom_submit');

        item.addClass('hidden');
        submitButton.addClass('disabled').attr('disabled', 'disabled');

        updateOperatorWorkRegistersTable();
        enableDisableSubmitButton();

        customStart.change(function (event) {
          if (checkIfStartIsBeforeFinish()) {
            labelCheckFinishIsBeforeStart.addClass('hidden');
          } else {
            labelCheckFinishIsBeforeStart.removeClass('hidden');
          }
          enableDisableSubmitButton();
        });
        customFinish.change(function (event) {
          if (checkIfStartIsBeforeFinish()) {
            labelCheckFinishIsBeforeStart.addClass('hidden');
          } else {
            labelCheckFinishIsBeforeStart.removeClass('hidden');
          }
          enableDisableSubmitButton();
        })

        selectInputType.change(function (event) {
          const type = event.added.id;
          if (type === "unit") {
            customStart.addClass('hidden');
            customFinish.addClass('hidden');
            customDescription.addClass('hidden');
            item.removeClass('hidden');
          } else if (type === "hour") {
            customStart.removeClass('hidden');
            customFinish.removeClass('hidden');
            customDescription.removeClass('hidden');
            item.addClass('hidden');
          }
          enableDisableSubmitButton();
        });

        selectOperator.change(function (event) {
          enableDisableSubmitButton();
          updateOperatorWorkRegistersTable();
        });

        eventSelectDate.change(function (event) {
          updateOperatorWorkRegistersTable();
        });

        selectItem.change(function (event) {
          enableDisableSubmitButton();
        });

        function enableDisableSubmitButton() {
          if (requiredFieldsAreFilled()) {
            submitButton.removeClass('disabled').removeAttr('disabled', 'disabled');
          } else {
            submitButton.addClass('disabled').attr('disabled', 'disabled');
          }
        }

        function requiredFieldsAreFilled() {
          if (selectOperator.val() === '') {

            return false;
          }
          if (selectInputType.val() === 'unit') {
            if (selectItem.val() === '') {

              return false;
            }
          }

          return checkIfStartIsBeforeFinish();
        }

        function updateOperatorWorkRegistersTable()
        {
          var operatorId = selectOperator.val();
          var date = selectDate.val();
          if (operatorId && date) {
            jQuery.get(Routing.generate(
              'admin_app_operator_operatorworkregister_getJsonOperatorWorkRegistersByDataAndOperatorId',
              {
                operatorId: operatorId,
                date: date
              }
            ), function () {
            }).done(function (response) {
              customTable.empty();
              JSON.parse(response).forEach((element) => {
                var row = document.createElement('tr');
                createCellFromInfoAndAppendToRow(element.saleDeliveryNote?.deliveryNoteReference || '-', row);
                createCellFromInfoAndAppendToRow(element.start?.substring(11, 16) || '-', row);
                createCellFromInfoAndAppendToRow(element.finish?.substring(11, 16) || '-', row);
                createCellFromInfoAndAppendToRow(element.units, row);
                createCellFromInfoAndAppendToRow(element.priceUnit, row);
                createCellFromInfoAndAppendToRow(element.amount, row);
                createCellFromInfoAndAppendToRow(element.description, row);
                customTable.append(row);
              });
            });
          } else {
            customTable.empty();
          }
        }

        function createCellFromInfoAndAppendToRow(info, row)
        {
          var cell = document.createElement('td');
          cell.classList.add('sonata-ba-list-field');
          cell.append(info);
          row.appendChild(cell);
        }

        function checkIfStartIsBeforeFinish()
        {
          const startHour = selectStartHour.val();
          const startMinute = selectStartMinute.val();
          const finishHour = selectFinishHour.val();
          const finishMinute = selectFinishMinute.val();
          var startIsBeforeFinish = false;
          if (finishHour > startHour) {
            startIsBeforeFinish = true;
          } else if (finishHour === startHour) {
            if (finishMinute > startMinute) {
              startIsBeforeFinish = true;
            }
          }

          return startIsBeforeFinish;
        }
      });
    </script>

{% endblock %}
