{% extends "HampeZurbInkBundle:FoundationForEmails:2/base.html.twig" %}

{% block additionalStyles %}
    {{ zurb_ink_styles.add("@AppBundle/Resources/public/css/mail.css") }}
{% endblock %}

{% block body %}
    {% if show_devel_top_bar is defined and show_devel_top_bar == true %}
        <callout class="alert">
            <row>
                <columns>
                    <p class="text-right">[ mode previsualització ]</p>
                </columns>
            </row>
        </callout>
    {% endif %}
    <container>
        <row>
            <callout style="background-color:#0D2154;border-color:#0D2154">
                <row>
                    <columns small="12" large="6">
                        <a href="{{ absolute_url(path('front_homepage')) }}">
                            <img src="{{ absolute_url(asset('bundles/app/img/logo_romani_horizontal.png') | imagine_filter('180xY')) }}" class="email-logo">
                        </a>
                    </columns>
                    <columns small="12" large="6">
                        <h2 class="text-right white-color">{% block subject %}{{ main_brand_title }}{% endblock %}</h2>
                    </columns>
                </row>
                <img src="{{ absolute_url(asset('bundles/app/img/base-email-notification-gr.jpg')) }}">
            </callout>
        </row>
        {% block content %}{% endblock %}
        <container>
            <row>
                <callout style="background-color:#0D2154;border-color:#0D2154">
                    <row>
                        <columns small="12" large="10">
                            <spacer size="20"></spacer>
                            <h6 class="yellow-color">Grúas Romaní, SA</h6>
                            <p class="white-color footer">
                                Ctra. Santa Bárbara, Km. 1'5<br>
                                43870 Amposta<br>
                                (Tarragona)
                            </p>
                        </columns>
                        <columns small="12" large="2">
                            <spacer size="20"></spacer>
                            <p class="white-color text-right footer">
                                &copy; {{ "now" | date("Y") }}
                            </p>
                        </columns>
                    </row>
                </callout>
            </row>
        </container>
    </container>
{% endblock %}
