{% extends 'admin/layout.html.twig' %}

{% block  stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css"/>
{% endblock %}

{# override javascript includes #}
{% block sonata_admin_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h1 class="box-title">Filtros</h1>
                </div>
                <div class="box-body">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

      jQuery(document).ready(function() {
        let calendarEl = document.getElementById('calendar')
        let calendar = new Calendar(calendarEl, {
          plugins: [dayGridPlugin],
          initialView: 'dayGridWeek',
          locale: 'es',
          firstDay: '1',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,dayGridWeek,dayGridDay'
          },
          eventDidMount: function(info) {
            if (!info.event.id.includes('absence')) {
              tippy(info.el, {
                content:
                  `
                <div style="background-color:lightblue; padding-left:15px;padding-right: 15px;padding-top:10px; padding-bottom: 5px">
                    <p>
                        <b>` + info.event.title + `</b>
                    </p>
                    <p>
                        <b>Vehículo</b>: ` + info.event.extendedProps.vehicle + `
                    </p>
                    <p>
                        <b>Veh. Sec.</b>: ` + info.event.extendedProps.secondaryVehicle + `
                    </p>
                    <p>
                        <b>Operario</b>: ` + info.event.extendedProps.operator + `
                    </p>
                </div>
              `,
                allowHTML: true,
              })
            }

          },
        });
        {%  for saleRequest in saleRequests %}
            calendar.addEvent({
              id: '{{ saleRequest.id }}',
              title: '{{ saleRequest.partner.code }} - {{ saleRequest.partner.name }}',
              url: '{{ path('admin_app_sale_salerequest_edit', {'id': saleRequest.id}) }}',
              start: '{{ saleRequest.serviceDate.format('Y-m-d') }}T{{ saleRequest.serviceTime.format('H:i:s')}}',
              color: {% if (saleRequest.status == 0) %} 'green' {% else %} 'blue' {% endif %},
              extendedProps: {
                vehicle: '{{ saleRequest.vehicle }}',
                operator: '{{ saleRequest.operator }}',
                secondaryVehicle: '{{ saleRequest.secondaryVehicle }}',
              },
            })
        {% endfor %}
        {% for operatorAbsence in operatorAbsences %}
            calendar.addEvent({
              id: 'absence-{{ operatorAbsence.id }}',
              title: '{{ operatorAbsence.type }} - {{ operatorAbsence.operator }}',
              url: '{{ path('admin_app_operator_operatorabsence_edit', {'id': operatorAbsence.id}) }}',
              start: '{{ operatorAbsence.begin.format('Y-m-d') }}',
              end: '{{ operatorAbsence.end.format('Y-m-d') }}',
              fullDay: true,
              color: 'orange',
            })
        {% endfor %}
        calendar.render()
      })
    </script>
{% endblock %}
