{% extends 'admin/layout.html.twig' %}

{% block  stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css"/>
{% endblock %}

{# override javascript includes #}
{% block sonata_admin_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      jQuery(document).ready(function() {
        let calendarEl = document.getElementById('calendar')
        let calendar = new Calendar(calendarEl, {
          plugins: [dayGridPlugin],
          initialView: 'dayGridMonth',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,listWeek'
          }
        });
        {%  for saleRequest in saleRequests %}
            calendar.addEvent({
              id: '{{ saleRequest.id }}',
              title: '{{ saleRequest }} - {{ saleRequest.vehicle }} - {{ saleRequest.operator }}',
              start: '{{ saleRequest.serviceDate.format('Y-m-d') }}',
              color: 'green',
              extendedProps: {
                vehicle: '{{ saleRequest.vehicle }}',
                operator: '{{ saleRequest.operator }}',
                secondaryVehicle: '{{ saleRequest.secondaryVehicle }}',
              }
            })
        {% endfor %}
        calendar.render()
      })
    </script>
{% endblock %}
