{% extends 'admin/edit.html.twig' %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
  jQuery(document).ready(function() {
      {% if  admin.id(admin.subject) %}
      let invoiceLinesNode = jQuery('#sonata-ba-field-container-{{ form.invoiceLines.vars.id }}');
      jQuery(invoiceLinesNode).html(`
        {{ component('PurchaseInvoiceLinesByCostCenter', {
          costCenters: admin.purchaseInvoiceLinesCostCenters,
          purchaseInvoiceLines: admin.subject.purchaseInvoiceLines
        }) }}
      `);
      let logBookNode = jQuery('#sonata-ba-field-container-{{ form.logBook.vars.id }}');
      jQuery(logBookNode).html(`
        {{ component('PurchaseInvoiceLinesByCostCenter', {
          costCenters: admin.purchaseInvoiceLinesCostCenters,
          purchaseInvoiceLines: admin.subject.purchaseInvoiceLines,
            logBook: true
        }) }}
      `);
      var vehicleMaintenance =  jQuery('#sonata-ba-field-container-{{ form.vehicleMaintenances.vars.id }}');
      var numberOfVehicleMaintenances = {{ form.vehicleMaintenances.vars.data.count }};
      for (let i = 0; i < numberOfVehicleMaintenances; i++) {
        var currentLine = jQuery('#{{ form.vehicleMaintenances.vars.id }}_' + i + '_enabled');
        if (currentLine.prop('checked') === false) {
          currentLine.parent().parent().parent().parent().parent().addClass('hidden');
        }
      }
      {% for key, value in form.vehicleSpecialPermits.vars.data.values %}
        let vehicleSpecialPermitLine{{ key }} = jQuery('#{{ form.vehicleSpecialPermits.vars.id }}_' + {{ key }} + '_additionalRegistrationNumber');
        jQuery(`
                        <td class ="form-group control-group">
                          <a class="btn btn-default" href="{{ path('admin_app_vehicle_vehiclespecialpermit_edit', { 'id': value.id }) }}">
                              Ver
                          </a>
                        </td>
                        `).insertAfter(vehicleSpecialPermitLine{{ key }}.parent());
      {% endfor %}
    {% endif %}
  });
</script>
{% endblock %}
