{% extends 'admin/layout.html.twig' %}

{% block sonata_admin_content %}

    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Costes imputables
                    </h4>
                </div>
                <form action="{{ path('admin_app_purchase_purchaseinvoiceline_imputableCosts') }}">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label" for="year">
                                Año
                            </label>
                            <select class="select2-container" style="width: 100%;" name="year" id="year">
                                {% for year in years %}
                                    <option
                                            value="{{ year }}"
                                            {% if year == selectedYear %}
                                                selected
                                            {% endif %}
                                    >{{ year }}</option>
                                {% endfor %}
                            </select>
                            <label class="control-label" for="sale_delivery_note">
                                Albarán
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="sale_delivery_note" id="sale_delivery_note">
                                    <option value="">---</option>
                                    {% for deliveryNote in saleDeliveryNotes %}
                                        <option
                                                value="{{ deliveryNote.id }}"
                                                {% if deliveryNote.id == selectedSaleDeliveryNoteId %}
                                                    selected
                                                {% endif %}
                                        >{{ deliveryNote.id }} - {{ deliveryNote.partner.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="control-label" for="vehicle">
                                Vehículo
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="vehicle" id="vehicle">
                                    <option value="">---</option>
                                    {% for vehicle in vehicles %}
                                        <option
                                                value="{{ vehicle.id }}"
                                                {% if vehicle.id == selectedVehicleId %}
                                                    selected
                                                {% endif %}
                                        >{{ vehicle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="control-label" for="operator">
                                Operario
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="operator" id="operator">
                                    <option value="">---</option>
                                    {% for operator in operators %}
                                        <option
                                                value="{{ operator.id }}"
                                                {% if operator.id == selectedOperatorId %}
                                                    selected
                                                {% endif %}
                                        >{{ operator }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="control-label" for="costCenter">
                                Centro de coste
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural" style="width: 100%;">
                                <select class="select2-container" style="width: 100%;" name="costCenter" id="costCenter">
                                    <option value="">---</option>
                                    {% for costCenter in costCenters %}
                                        <option
                                                value="{{ costCenter.id }}"
                                                {% if costCenter.id == selectedCostCenterId %}
                                                    selected
                                                {% endif %}
                                        >{{ costCenter }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" id="btn_custom_submit" name="btn_custom_submit"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      jQuery(document).ready(function() {
        let saleDeliveryNoteSelect = jQuery('#sale_delivery_note');
        let vehicleSelect = jQuery('#vehicle');
        let operatorSelect = jQuery('#operator');
        let costCenterSelect = jQuery('#costCenter');
        saleDeliveryNoteSelect.change((event) => {
          if (saleDeliveryNoteSelect.val() !== '') {
            vehicleSelect.select2().val('').trigger('change');
            operatorSelect.select2().val('').trigger('change');
            costCenterSelect.select2().val('').trigger('change');
          }
            }
          )
        vehicleSelect.change((event) => {
          if (vehicleSelect.val() !== '') {
            saleDeliveryNoteSelect.select2().val('').trigger('change');
            operatorSelect.select2().val('').trigger('change');
            costCenterSelect.select2().val('').trigger('change');
          }
            }
          )
        operatorSelect.change((event) => {
          if (operatorSelect.val() !== '') {
            saleDeliveryNoteSelect.select2().val('').trigger('change');
            vehicleSelect.select2().val('').trigger('change');
            costCenterSelect.select2().val('').trigger('change');
          }
            }
          )
        costCenterSelect.change((event) => {
          if (costCenterSelect.val() !== '') {
            saleDeliveryNoteSelect.select2().val('').trigger('change');
            vehicleSelect.select2().val('').trigger('change');
            operatorSelect.select2().val('').trigger('change');
          }
            }
          )
      });
    </script>

{% endblock %}
