{% extends 'admin/layout.html.twig' %}

{% block sonata_admin_content %}

    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-success">
                <form action="{{ path('admin_app_purchase_purchaseinvoiceline_marginAnalysis') }}">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label" for="year">
                                Año
                            </label>
                            <select class="select2-container" style="width: 100%;" name="year" id="year">
                                {% for year in years %}
                                    <option
                                            value="{{ year }}"
                                            {% if year == selectedYear %}
                                                selected
                                            {% endif %}
                                    >{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-success" type="submit" id="btn_custom_submit" name="btn_custom_submit">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            Aplicar
                        </button>
                        <button class="btn btn-success" type="submit" id="btn_custom_submit_download" name="btn_custom_submit_download" formaction="{{ path('admin_app_purchase_purchaseinvoiceline_downloadMarginAnalysis') }}">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Descargar en xls
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label" for="year">
                            Línea de actividad
                        </label>
                        <select class="select2-container" style="width: 100%;" name="activityLine" id="activity_line_select">
                            <option value="" selected>--selecione una opción---</option>
                            {% for activityLine in activityLines %}
                                <option value="{{ activityLine.id }}">
                                    {{ activityLine }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Totales
                    </h4>
                    <table class="table table-bordered table-hover sonata-ba-list">
                        <tr>
                            <td>Ingresos</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalIncome) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Costes directos operarios</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalWorkingHoursDirectCost) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Costes directos facturas albarán</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalPurchaseInvoiceDirectCost) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Costes indirectos vehículos</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalVehicleIndirectCost) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Costes indirectos facturas operario</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalOperatorPurchaseInvoiceIndirectCost) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Costes indirectos nóminas operario</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalOperatorPayslipIndirectCost) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Total Costes</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalCost) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Total Margen</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalMargin) }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Total Margen %</td>
                            <td style="text-align: right">
                                {{ numberFormat.formatNumber(saleDeliveryNotesMarginAnalysis.totalMarginPercentage) }} %
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Albaranes de venta
                    </h4>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped table-hover sonata-ba-list">
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="sonata-ba-list-field-header">
                                        Id
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Fecha
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Cliente
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Ingresos
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Costes Directos Operario
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Costes Directos Facturas Albarán
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Costes Indirectos Vehículo
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Costes Indirectos Facturas Operario
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Costes Indirectos Nóminas Operario
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Total Costes
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Margen
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Margen %
                                    </th>
                                    <th class="sonata-ba-list-field-header">
                                        Línea actividad
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="delivery_note_table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      jQuery(document).ready(function() {
        let saleDeliveryNotes = Object.values({{ saleDeliveryNotes | json_encode | raw }});
        let deliveryNoteTable = jQuery('#delivery_note_table')
        let saleDeliveryNotesFiltered = saleDeliveryNotes
        let selectActivityLine = jQuery('#activity_line_select')

        updateDeliveryNoteTable()

        selectActivityLine.change((event) => {
          updateDeliveryNoteTable()
          }
        )

        function updateDeliveryNoteTable() {
          deliveryNoteTable.empty()
          saleDeliveryNotesFiltered = saleDeliveryNotes.filter((saleDeliveryNote) => {
            let activityLineId = selectActivityLine.val()*1
            return activityLineId ? saleDeliveryNote.activityLine_id === activityLineId : true
          })
          for( const saleDeliveryNote of saleDeliveryNotesFiltered) {
            let row = document.createElement('tr');
            let idLink = `
                <a href="{{ path('admin_app_sale_saledeliverynote_edit', {'id': 'idOfElement'}) }}">
                    idOfElement
                </a>
            `
            idLink = idLink.replaceAll('idOfElement', saleDeliveryNote.id)
            let cell = document.createElement('td')
            cell.classList.add('sonata-ba-list-field');
            cell.innerHTML = idLink
            row.appendChild(cell)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.date, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.partner_code + '-' + saleDeliveryNote.partner_name, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.income, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.workingHoursDirectCost, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.purchaseInvoiceDirectCost, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.vehicleIndirectCost, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.operatorPurchaseInvoiceIndirectCost, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.operatorPayslipIndirectCost, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.totalCost, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.margin, row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.marginPercentage.toLocaleString(undefined , {minimumFractionDigits: 2, maximumFractionDigits: 2}) + ' %', row)
            createCellFromInfoAndAppendToRow(saleDeliveryNote.activityLine, row, 'left')
            deliveryNoteTable.append(row)
          }
        }

        function createCellFromInfoAndAppendToRow(info, row, textAlign = 'right')
        {
            let cell = document.createElement('td')
            if (!isNaN(info)) {
               info = new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'EUR' }).format(info)
            }
            cell.classList.add('sonata-ba-list-field')
            cell.style.textAlign = textAlign
            cell.append(info)
            row.appendChild(cell)
        }
      })
    </script>
{% endblock %}
