{% block field %}
    {% if fileAvailable %}
        {% if isPdf %}
            <div id="{{ fileId }}" data-holder="pdf" data-download="{{ documentSrc }}" class="d-block p-5">
                <canvas id="pdf-{{ fileId }}" class="pdf-canvas" style="width:100%">
                    <i class="fa fa-5x fa-spin fa-circle-o-notch" aria-hidden="true"></i>
                </canvas>
            </div>
        {% else %}
            <img src="{{ documentSrc }}" alt="No se puede recuperar la imagen" style="height: 150px">
        {% endif %}
        <span class="span-helper">PDF, JPG o PNG. 10MB max</span>
        <a class="btn btn-warning btn-xs" href="{{ documentSrc }}">
            <i class="fa fa-cloud-download"></i>
            Descargar
        </a>
        {% if isPdf %}
            <a data-controller="pdf-button" data-action="pdf-button#clicked" data-toggle="modal" data-target="#pdf-preview-modal" data-pdf-button-attachment-value="{{ documentSrc }}" data-pdf-button-path-value="{{ documentSrc }}" class="btn btn-warning btn-xs">
                <i class="fa fa-search"></i>
            </a>
        {% endif %}
    {% else %}
        <img src="https://via.placeholder.com/60x60.png?text=?" alt="thumbnail">
    {% endif %}
{% endblock %}

{#{% block javascripts %}#}
{#<script type="text/javascript">#}
{#  jQuery(document).ready(function() {#}
{#    PDFJS.getDocument('{{ documentSrc }}').then(function (pdf) {#}
{#      pdf.getPage(1).then(function (page) {#}
{#        var scale = 1;#}
{#        var viewport = page.getViewport(scale);#}
{#        var canvas = document.getElementById('pdf-{{ object.id }}');#}
{#        var context = canvas.getContext('2d');#}
{#        canvas.height = viewport.height;#}
{#        canvas.width = viewport.width;#}
{#        var renderContext = {#}
{#          canvasContext: context,#}
{#          viewport: viewport#}
{#        };#}
{#        page.render(renderContext);#}
{#      });#}
{#    });#}
{#  });#}
{#</script>#}
{#{% endblock %}#}
