{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="main-title no-m">Fuerza</h1>
                <h2 class="main-subtitle no-m">inteligentemente contenida.</h2>
                <h4 class="no-m">Elevación y transporte de grandes volúmenes.</h4>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="row">
            <div class="col-xs-12">
                {% if serviceGC is not null and serviceGC.enabled %}
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ path('front_service_detail', {slug: serviceGC.slug}) }}">
                                <img class="media-object" src="{{ asset('bundles/app/img/icon_serv_gc.png') }}" alt="Grúas de celosía logo">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{ serviceGC.name }}:</strong> combinamos los profesionales más experimentados con la mejor maquinaria.</h4>
                            <a href="{{ path('front_service_detail', {slug: serviceGC.slug}) }}">Descubre por qué las grúas de celosía de Grúas Romaní son su mejor opción <i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {% endif %}
                {% if serviceGH is not null and serviceGH.enabled %}
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ path('front_service_detail', {slug: serviceGH.slug}) }}">
                                <img class="media-object" src="{{ asset('bundles/app/img/icon_serv_gh.png') }}" alt="Grúas hidráulicas logo">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{ serviceGH.name }}:</strong> rapidez en el montaje y precisión en el manejo.</h4>
                            <p></p>
                            <a href="{{ path('front_service_detail', {slug: serviceGH.slug}) }}">Encuentre una solución para elevar su carga <i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {% endif %}
                {% if servicePA is not null and servicePA.enabled %}
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ path('front_service_detail', {slug: servicePA.slug}) }}">
                                <img class="media-object" src="{{ asset('bundles/app/img/icon_serv_pa.png') }}" alt="Trabajos de maniobralidad reducida logo">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{ servicePA.name }}:</strong> Elevación de personal a grandes alturas.</h4>
                            <p></p>
                            <a href="{{ path('front_service_detail', {slug: servicePA.slug}) }}">Conozca nuestros equipos. <i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
