{% extends "::Admin/edit.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var partnerNode = jQuery('#sonata-ba-field-container-{{ form.partner.vars.id }}');
            var ulDeliveryNotesNode = jQuery('#{{ form.deliveryNotes.vars.id }}');
            // var selectDeliveryNotesIcon = jQuery('#delivery-notes-icon');

            //on change Partner
            partnerNode.change(function(event) {
                // selectDeliveryNotesIcon.removeClass('hidden');
                var partnerId = event.val;
                jQuery.get(Routing.generate('admin_app_partner_partner_getJsonDeliveryNotesById', {id: partnerId}), function() {
                }).done(function (response) {
                    console.log(response);
                    updateNodesInfo(response);
                });
            });

            {#//on load#}
            {#{% if form.partner.vars.data is not null %}#}
                {#jQuery.get(Routing.generate('admin_app_partner_partner_getJsonDeliveryNotesById', { id: {{ form.partner.vars.data.id }} }), function() {#}
                {#}).done(function(response) {#}
                    {#updateNodesInfo(response);#}
                {#});#}
            {#{% endif %}#}

            function updateNodesInfo(response) {
                var deliveryNotes = jQuery.parseJSON(response);
                console.log(deliveryNotes);
                console.log('{{ form.deliveryNotes.vars.id }}');
                console.log('{{ form.vars.id }}[deliveryNotes][]');
                ulDeliveryNotesNode.html(buildLiCheckboxNodes(deliveryNotes));

                // selectDeliveryNotesNodeIcon.addClass('hidden');

                // selectDeliveryNotesNode.val(deliveryNotes.XXXXXX);
            }

            function buildLiCheckboxNodes(deliveryNotes) {
                var html = '';

                jQuery.each(deliveryNotes, function(key, deliveryNote) {
                    html = html+
                        '<li>'+
                            '<div class="checkbox">'+
                                '<label>'+
                                    '<input type="checkbox" id="{{ form.deliveryNotes.vars.id }}_'+deliveryNote.id+'" name="{{ form.vars.id }}[deliveryNotes][]" value="'+deliveryNote.id+'">'+
                                        deliveryNote.dateToString+' · '+deliveryNote.deliveryNoteNumber+' · '+deliveryNote.baseAmount+
                                '</label>'+
                            '</div>'+
                        '</li>';
                });

                return html;
            }
        });
    </script>
{% endblock %}

{% block body %}

{% endblock %}

{# Edit mode shows related table: DeliveryNotes#}
{% block formactions %}
    {% if object.deliveryNotes is not empty %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h4 class="box-title">Albarans</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Núm. albarà</th>
                                    <th>Data albarà</th>
                                    <th>Import base</th>
                                    <th>Descompte</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for deliveryNote in object.deliveryNotes %}
                                <tr>
                                    <th>{{ deliveryNote.deliveryNoteNumber }}</th>
                                    <th>{{ deliveryNote.date|date('d/m/Y') }}</th>
                                    <th>{{ deliveryNote.baseAmount }}</th>
                                    <th>{{ deliveryNote.discount }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}